/****** General ***********/
/****** General ***********/
*{
    font-family: "Raleway", sans-serif;
}
  
:root 
{
    --main-color: #0065fc;
    --main-bg-color: #f2f2f2;/*light gray*/
    --filter-bg-color: #deebff;/*light blue*/
    --grey-tint-2: #d9d9d9;
}
    
.fa-solid {
    color: var(--main-color);
}
  
body 
{
    display: flex;
    justify-content: center;
    margin: 0;
}
  
.main-container 
  {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
  }
  
a {
    color: inherit;
    text-decoration: none;
  }
  
ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-size: 16px;
  }
  
  /****** Header *******/
  
header 
  {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  
header img 
  {
    width: 61.1px;
    height: 19px;
    padding: 30px 0;
  }
  
nav ul 
  {
    display: flex;
  }
  
nav ul li 
  {
    padding: 18px 16px;
  }
  
.navLink span:hover 
  {
    border-top: 2px solid var(--main-color);
    padding-top: 16.5px;
    color: var(--main-color);
  }
  
.btnFont 
  {
    font-weight: 700;
    font-size: 17px;
  }
  
  /****** Main ***********/
  
main
  {
      display: flex;
      flex-direction: column;
      gap: 35px;
      margin-bottom: 35px;
  }
  
  /****** Search ***********/
  
#search 
  {
    display: flex;
    flex-direction: column;
    gap: 35px;
  }
  
#search-title 
  {
  display: flex;
  flex-direction: column;
  gap: 8px;
  }
  
#form 
  {
    display: flex;
  }
  
.loc-container 
  {
    border-radius: 15px 0 0 15px;
    width: 50px;
    height: 50px;
    background-color: var(--main-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.fa-location-dot 
  {
    color: black;
    font-size: 18px;
  }
  
#form input 
  {
    border-left: none;
    border-right: none;
    border-top: 2px solid;
    border-color: var(--main-bg-color);
    padding-left: 8px;
  }
  
.btnSearch 
  {
    border-radius: 0 15px 15px 0;
    border: none;
    background-color: var(--main-color);
    color: white;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.btnSearch:hover
  {
      cursor: pointer;
  }
  
.btnSearch i 
  {
    display: none;
  }
  
#filters 
  {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  
.filtersBtns 
  {
    display: flex;
    gap: 15px;
  }
  
.filtersBtns button 
  {
    flex: 1;
    height: 50px;
    border: 2px solid var(--grey-tint-2);
    padding: 2px 17px;
    box-sizing: border-box;
    background-color: white;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
  }
  
  #filters button:hover {
    cursor: pointer;
    background-color: var(--filter-bg-color);
  }
  
  #filters button i {
    margin-right: 10px;
  }
  
  #info {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .infoIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 24px;
    min-height: 24px;
    border-radius: 50%;
    border: 2px solid var(--grey-tint-2);
    padding: 5px;
    overflow: hidden;
  }
  
  .section-title {
    margin: 0;
    font-size: 22px;
  }
  
  .section-subtitle, .footer-subtitle {
    font-size: 18px;
    font-weight: 700;
    margin: 0;
  }
  
  /****** Cards ***********/
  
.card {
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  }
  
.card img {
    object-fit: cover;
  }
  
  .card-title,
  .fontPgh {
    font-size: 16px;
    margin: 0;
  }
  
.card-subtitle 
  {
    font-size: 14px;
    margin: 0;
  }
  
.euro 
  {
    font-weight: 700;
  }
  
.neutral-star 
  {
    color: var(--main-bg-color);
  }
  
  /****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
  }
  
.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
  }
  
  /****** Hebergements ***********/
.hebergements 
  {
    width: 65%;
  }
  
.hebergements-cards 
  {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 30px 0;
  }
  
.hebergements-cards .card
  {
      display: flex;
      flex-direction: column;
      gap: 4px;
  }
  
.hebergements-cards img 
  {
    width: 100%;
    height: 114px;
    border: 5px solid white;
    box-sizing: border-box;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  
.hebergements-cards .card-content, .hebergements-cards .card-txt 
  {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  
.hebergements-cards .card-content{
      padding: 0 15px 15px;
  }
  
  /****** Populaires ***********/
.populaires {
    width: 32%;
  }
  
.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
.populaires-cards {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 30px;
  }
  
.populaires-cards a {
    flex: 1;
  }
  
  .populaires-cards .card {
    display: flex;
  }
  
  .populaires-cards img {
    width: 33%;
    height: 134px;
    border: 5px solid white;
    box-sizing: border-box;  border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  
  .populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-right: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
  }
  
  .populaires-cards .card-title {
    margin-bottom: 5px;
  }
  
  
  
  
  /****** Activités ***********/
  
  #activites {
    padding: 30px;
  }
  
  .activites-cards {
    display: flex;
    padding-top: 30px;
    gap: 30px;
  }
  
  .activites-cards a {
    flex: 1;
  }
  
  .activites-cards .card {
    display: flex;
    flex-direction: column;
    padding: 0;
    height: 439px;
  }
  
  .activites-cards img {
    height: 380px;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  
  .activites-cards .card-content {
    padding: 20px 19px;
    position: relative;
  }
  
  .activites-cards .card-title {
    position: absolute;
  }
  
  /****** Footer ***********/
  
  footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: var(--main-bg-color);
  }
  
  footer section {
    padding: 20px;
  }
  
  .footer-subtitle {
    margin-bottom: 15px;
  }
  
footer ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  /* Le code ci-dessous correspond à la version responsive uniquement */
  
  /****** Media queries ***********/
  /* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
#filters {
    flex-direction: column;
    align-items: baseline;
    gap: 20px;
    }
  
   
.hebergements-and-populaires {
    flex-direction: column;
    gap: 50px;
    }
  
.hebergements 
{
  width: 100%;
}
  
.populaires 
{
  width: 100%;
}
  
.populaires-cards 
{
  flex-direction: row;
  gap: 20px;
  padding-top: 20px;
}
  
.populaires-cards .card 
{
  margin: 0;
}
  
.activites-cards .card 
{
  height: 270px;
}

.activites-cards img 
{
  height: 200px;
}
  
footer 
{
  gap: 30px;
}

}
  
  /* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

* 
{
  margin: 0;
}

.main-container 
{
  padding: 0;
}

header 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

header img 
{
  margin: 0;
}
nav 
{
  width: 100vw;
}
  
nav ul li 
{
  border-bottom: 2px solid var(--main-bg-color);
  width: 100%;
}
.navLink span:hover 
{
  border-top: none;
}
nav ul li:hover 
{
  color: var(--main-color);
  border-bottom: 2px solid var(--main-color);
}
  
#search 
{
  padding: 0 20px;
}
  
#search-title 
{
  display: flex;
  flex-direction: column;
  width: 100%;
}
  
#search-title h1 
{
  margin-bottom: 8px;
}

#form input 
{
  flex: 1;
}
  
.btnSearch 
{
    border-radius: 15px;
    width: 50px;
    height: 50px;
    padding: 0;
    margin-left: -10px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2); /*box-shadow: horizontal vertical flou couleur(red=0, green=0, blue=0, opacité= 0.2 sur 1 max);*/
}
  
.btnSearch span 
{
  display: none; /* Masque le texte à l'intérieur du bouton */
}
  
.btnSearch i 
{
    display: inline-block; /* Affiche l'icône */
    color: white;
}
  
#filters h2 
{
    font-size: 16px;
}
  
.filtersBtns {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr); /* Crée une grille à deux colonnes */
    }
.filtersBtns button {
    font-size: 14px;
    }
  
.infoIcon {
    width: 10px;
    height: 10px;
    }
  
.hebergements-and-populaires {
    flex-direction: column-reverse;
    gap: 15px;
    }
  
.hebergements-and-populaires section {
    border-radius: 0;
    }
  
#hebergements {
    background-color: white;
    padding: 20px;
    }
  
.hebergements-cards {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px 0;
}
.populaires {
    margin-top: 0;
    margin-bottom: 15px;
}
.populaires-cards {
    flex-direction: column;
}
  
.activites-cards {
    flex-direction: column;
    gap: 15px;
}
  
.activites-cards .card {
    height: auto;
}
.activites-cards img {
    height: 141px;
}
  
.activites-cards .card-title {
    position: initial;
}
  
footer 
{
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 30px;
}
  
footer section 
{
    padding: 0;
}
}